@tailwind base;
@tailwind components;
@tailwind utilities;



.badge-good
{
background-color: #00E400;
}

.badge-satisfactory
{
background-color: #ffff00;
}

.badge-moderate
{
background-color: #ff7e00;
}

.badge-Poor
{
background-color: #ff0000;
}

.badge-very-poor
{
background-color: #8f3f97;
}
.badge-severe
{
background-color: #7e0023;
}
