@tailwind base;
@tailwind components;
@tailwind utilities;



.level-good
{
background-color: #00E400;
}

.level-satisfactory
{
background-color: #ffff00;
}

.level-moderate
{
background-color: #ff7e00;
}

.level-Poor
{
background-color: #ff0000;
}

.level-very-poor
{
background-color: #8f3f97;
}
.level-severe
{
background-color: #7e0023;
}
