@tailwind base;
@tailwind components;
@tailwind utilities;



.level-good
{
background-color: #55a84f;
}

.level-satisfactory
{
background-color: #a3c853;
}

.level-moderate
{
background-color: #fff851;
}

.level-Poor
{
background-color: #f29c3e;
}

.level-very-poor
{
background-color: #e93f33;
}
.level-severe
{
background-color: #af2d24;
}
